a {
  color: black;
  text-decoration: none;
}

span:hover {
  opacity: .5;
  cursor: pointer;
}

.block__cat {
  width: 300px;
  height: 300px;
  border: 1px solid;
  background: red;
  box-shadow: 4px 4px 8px gray;
}

p {
  display: inline;
  border-bottom: dotted 2px #0e6edf;
  padding-bottom: 8px;
}

textarea::placeholder {
  color: red;
}
input::placeholder {
  color: red;
}

textarea::placeholder,
input::placeholder {
  color: red;
}
